html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
p,
figure,
blockquote,
h1,
h2,
h3 {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

input,
select,
button,
textarea {
  appearance: none;
  border: none;
  outline: 0;
  font: inherit;
}

label {
  display: block;
}

::placeholder {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "DM Sans";
  src: url("./../../fonts/DMSans-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("./../../fonts/DMSans-Bold.woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "DIN Alternate";
  src: url("./../../fonts/DINAlternate-Bold.woff2");
  font-weight: 700;
  font-display: swap;
}
html {
  font-size: 10px;
}
html.unscroll {
  overflow: hidden;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #121212;
  background-color: #FFFFFF;
  overflow-x: hidden;
}

.wrapper {
  overflow-x: hidden;
}

.main {
  position: relative;
}
.main::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  left: 0;
  z-index: -2;
  background-image: url("./../../images/map.svg"), url("./../../images/sections_bg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 175rem, center 175rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  width: 100%;
}

.title {
  font-size: 5.8rem;
  font-family: "DIN Alternate", sans-serif;
  line-height: 1.3;
  text-stroke: 2px #121212;
  -webkit-text-stroke: 2px #121212;
  text-transform: capitalize;
}
.title--lines {
  display: flex;
  gap: 3.5rem;
  align-items: center;
  justify-content: center;
}
.title--lines::before, .title--lines::after {
  content: "";
  display: block;
  width: 5.6rem;
  height: 3px;
  background-color: currentColor;
}

.hero {
  position: relative;
  height: 120rem;
  padding-top: 14rem;
  background-image: url("./../../images/hero_ellipse.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom 11rem;
  margin-bottom: 8rem;
}
@media (max-width: 1120px) {
  .hero {
    margin-bottom: 3rem;
  }
}
@media (max-width: 600px) {
  .hero {
    margin-bottom: -3rem;
  }
}
.hero::before, .hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 53rem;
  height: 50rem;
  background-image: url("./../../images/big_burger.webp"), url("./../../images/white_ellipse.svg");
  background-repeat: no-repeat;
  background-position: right bottom, left top;
  background-size: 48rem 37rem, 46rem 46rem;
}
.hero::before {
  left: 3rem;
}
@media (max-width: 1220px) {
  .hero::before {
    bottom: 15rem;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
@media (max-width: 560px) {
  .hero::before {
    background-position: center, right;
    bottom: 13rem;
    background-size: 40rem 32rem, 0rem 0rem;
    width: 100%;
  }
}
@media (max-width: 371px) {
  .hero::before {
    bottom: 10rem;
  }
}
@media (max-width: 331px) {
  .hero::before {
    bottom: 5rem;
  }
}
.hero::after {
  right: 3rem;
  transform: scaleX(-1);
}
@media (max-width: 1220px) {
  .hero::after {
    display: none;
  }
}
.hero .hero__arrow {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8rem;
}
.hero__inner {
  height: 100%;
  display: grid;
  align-items: center;
}
.hero__content {
  transform: translateY(-50%);
}
@media (max-width: 1220px) {
  .hero__content {
    transform: translateY(-80%);
  }
}
@media (max-width: 530px) {
  .hero__content {
    transform: translateY(-70%);
  }
}
@media (max-width: 370px) {
  .hero__content {
    transform: translateY(-55%);
  }
}
@media (max-width: 330px) {
  .hero__content {
    transform: translateY(-40%);
  }
}
.hero__title {
  color: #FFFFFF;
  text-stroke: 2px #FFFFFF;
  -webkit-text-stroke: 2px #FFFFFF;
  max-width: 80rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 3rem;
  transform: translateY(50px);
  opacity: 0;
  transition: 0.3s ease;
}
.hero__title::before, .hero__title::after {
  margin-top: -6rem;
}
@media (max-width: 830px) {
  .hero__title::before, .hero__title::after {
    display: none;
  }
}
.hero__title.active {
  transform: translateY(0);
  opacity: 1;
}
.hero__description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.8rem;
  text-align: center;
  max-width: 48rem;
  margin: 0 auto;
  margin-bottom: 10rem;
  transform: translateY(50px);
  opacity: 0;
  transition: 0.3s ease 0.5s;
}
@media (max-width: 1220px) {
  .hero__description {
    margin-bottom: 5rem;
  }
}
.hero__description.active {
  transform: translateY(0);
  opacity: 1;
}
.hero__form {
  transform: translateY(50px);
  opacity: 0;
  transition: 0.3s ease 0.7s;
}
.hero__form.active {
  transform: translateY(0);
  opacity: 1;
}

.popular {
  margin-bottom: 12rem;
}
.popular__title {
  margin-bottom: 1.5rem;
  transform: translateY(50px);
  opacity: 0;
  transition: transform 0.5s ease;
}
@media (max-width: 790px) {
  .popular__title {
    text-align: center;
  }
  .popular__title::before, .popular__title::after {
    display: none;
  }
}
.popular__title.active {
  transform: translateY(0);
  opacity: 1;
}
.popular__description {
  max-width: 52rem;
  margin: 0 auto;
  font-size: 1.8rem;
  color: rgba(18, 18, 18, 0.5);
  text-align: center;
  margin-bottom: 19rem;
  transform: translateY(70px);
  opacity: 0;
  transition: transform 0.5s ease;
}
@media (max-width: 790px) {
  .popular__description {
    margin-bottom: 5rem;
  }
}
.popular__description.active {
  transform: translateY(0);
  opacity: 1;
}
.popular__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 9rem;
  gap: 3.5rem;
  align-items: end;
}
@media (max-width: 1120px) {
  .popular__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 790px) {
  .popular__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.popular--item-1 {
  transform: translateY(50px);
  opacity: 0;
  transition: transform 0.5s ease;
}
.popular--item-1.active {
  transform: translateY(0);
  opacity: 1;
}
.popular--item-2 {
  transform: translateY(150px);
  opacity: 0;
  transition: transform 0.5s ease;
}
.popular--item-2.active {
  transform: translateY(0);
  opacity: 1;
}
.popular--item-3 {
  transform: translateY(200px);
  opacity: 0;
  transition: transform 0.5s ease;
}
.popular--item-3.active {
  transform: translateY(0);
  opacity: 1;
}
.about {
  margin-bottom: 15rem;
}
.about__inner {
  display: flex;
  gap: 10rem;
}
@media (max-width: 1080px) {
  .about__inner {
    flex-direction: column;
    align-items: center;
    row-gap: 15rem;
  }
}
.about__content {
  position: relative;
  width: 44rem;
  transform: translateX(-50px);
  opacity: 0;
  transition: 0.3s ease 0.3s;
}
.about__content.active {
  transform: translateX(0);
  opacity: 1;
}
.about .about__title {
  margin-bottom: 3rem;
}
.about .about__title span {
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: #27AD55;
  margin-bottom: 2rem;
  -webkit-text-stroke: 0;
}
@media (max-width: 1080px) {
  .about .about__title {
    text-align: center;
    margin-top: -5rem;
  }
}
@media (max-width: 450px) {
  .about .about__title {
    width: 350px;
    margin: 0 auto;
    font-size: 3rem;
    margin-bottom: 3rem;
    margin-top: -7rem;
  }
}
.about__text {
  color: rgba(18, 18, 18, 0.5);
  font-size: 16px;
  margin-bottom: 4.4rem;
}
@media (max-width: 1080px) {
  .about__text {
    text-align: center;
  }
}
@media (max-width: 450px) {
  .about__text {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
}
.about__link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.about__images {
  position: relative;
  border-radius: 50%;
  width: 54rem;
  height: 54rem;
  transform: translateX(50px);
  opacity: 0;
  transition: 0.5s ease 0.3s;
}
.about__images.active {
  transform: translateX(0);
  opacity: 1;
}
.about__images::before {
  content: "";
  position: absolute;
  background-color: #27AD55;
  width: 56rem;
  height: 56rem;
  z-index: -1;
  border-radius: 50%;
  top: -10px;
  left: -3px;
}
@media (max-width: 600px) {
  .about__images::before {
    display: none;
  }
}
@media (max-width: 600px) {
  .about__images {
    margin-bottom: 0;
  }
}
@media (max-width: 600px) {
  .about__image {
    display: none;
  }
}
.about__breakfast {
  position: absolute;
  top: 0;
  left: 0;
  width: 19rem;
  height: 19rem;
  transform: translateY(-3rem);
}
@media (max-width: 600px) {
  .about__breakfast {
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 50rem;
    height: 50rem;
  }
}
@media (max-width: 480px) {
  .about__breakfast {
    width: 35rem;
    height: 35rem;
  }
}
@media (max-width: 340px) {
  .about__breakfast {
    width: 30rem;
    height: 30rem;
  }
}
.about__img {
  width: 100%;
  object-fit: contain;
}
@media (max-width: 600px) {
  .about__img {
    width: 50rem;
    height: 50rem;
  }
}
@media (max-width: 480px) {
  .about__img {
    width: 35rem;
    height: 35rem;
  }
}
@media (max-width: 340px) {
  .about__img {
    width: 30rem;
    height: 30rem;
  }
}
.about__price {
  position: absolute;
  bottom: 2.5rem;
  right: 0;
  background-color: #27AD55;
  border-radius: 100px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  font-family: "DIN Alternate", sans-serif;
  padding: 7px 13px;
}
@media (max-width: 600px) {
  .about__price {
    bottom: 40rem;
    left: 5rem;
    width: 7rem;
  }
}
@media (max-width: 480px) {
  .about__price {
    bottom: 30rem;
  }
}
@media (max-width: 340px) {
  .about__price {
    bottom: 25rem;
  }
}

.booking {
  margin-bottom: 11rem;
}
.booking__inner {
  position: relative;
  background-color: #121212;
  border-radius: 4.8rem;
  padding: 10rem 3rem 6rem;
  background-image: url("./../../images/white_ellipse.svg"), url("./../../images/white_ellipse.svg");
  background-repeat: no-repeat;
  background-size: 34rem 34rem, 19rem 19rem;
  background-position: top 11rem left -7rem, top 7rem right -2rem;
}
.booking__inner::before, .booking__inner::after {
  content: "";
  display: block;
  position: absolute;
  width: 25rem;
  height: 20rem;
  background-image: url("./../../images/leaf_1.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.booking__inner::before {
  top: 5rem;
  left: -12rem;
}
.booking__inner::after {
  width: 15rem;
  height: 12rem;
  bottom: 11rem;
  right: -7rem;
  transform: scaleX(-1);
}
@media (max-width: 600px) {
  .booking__inner {
    margin-top: -15rem;
  }
}
@media (max-width: 480px) {
  .booking__inner {
    margin-top: -30rem;
  }
}
@media (max-width: 340px) {
  .booking__inner {
    margin-top: -40rem;
  }
}
.booking__arrow {
  position: absolute;
  top: -3rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.booking__title {
  max-width: 54rem;
  color: #F6F6F6;
  -webkit-text-stroke: 2px #FFFFFF;
  margin: 0 auto 3rem;
  text-align: center;
}
@media (max-width: 550px) {
  .booking__title {
    font-size: 4rem;
  }
}
.booking__text {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  max-width: 57rem;
  margin: 0 auto 5rem;
}
.booking__forn {
  max-width: 71rem;
  margin: 0 auto;
}

.reviews {
  margin-bottom: 11rem;
}
.reviews__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5rem;
  margin-bottom: 6rem;
}
@media (max-width: 800px) {
  .reviews__head {
    padding-right: 0;
  }
}
.reviews__title {
  max-width: 57rem;
}
@media (max-width: 800px) {
  .reviews__title {
    font-size: 4rem;
    text-align: center;
    margin: 0 auto -2rem;
  }
}
.reviews__nav {
  display: flex;
}
@media (max-width: 800px) {
  .reviews__nav {
    display: none;
  }
}
.reviews__arrow {
  width: 100px;
  height: 40px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("./../../images/icons/icon_arrow_right_long.svg");
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.reviews__arrow.swiper-button-disabled {
  width: 40px;
  opacity: 0.5;
  background-image: url("./../../images/icons/icon_arrow_left_short.svg");
  cursor: not-allowed;
}
.reviews__arrow--prev:not(.swiper-button-disabled) {
  transform: scaleX(-1);
}
.reviews__arrow--next.swiper-button-disabled {
  transform: scaleX(-1);
}
@media (max-width: 800px) {
  .reviews__slider {
    width: 110%;
  }
}
.reviews__slider-item {
  display: flex;
  flex-direction: column;
}
@media (max-width: 800px) {
  .reviews {
    margin-top: -6rem;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 4.1rem 0;
  background-color: #121212;
}
.header--btn {
  transition: 0.3s ease;
}
.header--btn:hover {
  background-color: #FF7352;
}
@media (max-width: 765px) {
  .header {
    padding: 2rem 0;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__btn {
  font-size: 1.4rem;
  color: #FFFFFF;
  padding: 0.8rem 3rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.8rem;
  cursor: pointer;
}
@media (max-width: 765px) {
  .nav__btn {
    display: none;
  }
}

.menu {
  display: flex;
  gap: 6.9rem;
}
.menu__link {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid transparent;
  transition: border-color 0.6s ease;
  padding-bottom: 5px;
}
.menu__link:hover {
  border-color: #FF7352;
  color: #FFFFFF;
}
@media (max-width: 765px) {
  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    bottom: 0;
    right: 0;
    background-color: #121212;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    row-gap: 4rem;
    font-size: 3rem;
    transition: 0.3s ease;
  }
}
.menu.active-menu {
  left: 0;
}

.header__burger {
  display: none;
  width: 50px;
  height: 22px;
  padding-top: 10px;
  position: relative;
  z-index: 3;
  cursor: pointer;
}
@media (max-width: 765px) {
  .header__burger {
    display: flex;
    position: absolute;
    right: 2rem;
    top: 3rem;
  }
}

.header__burger span {
  background-color: #FFFFFF;
  width: 70%;
  height: 2px;
  transform: scale(1);
}

.header__burger::before,
.header__burger::after {
  content: "";
  background-color: #FFFFFF;
  width: 70%;
  height: 2px;
  position: absolute;
  transition: all 0.3s ease;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.active.header__burger span {
  transform: scale(0);
}

.active.header__burger::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.active.header__burger::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

.footer {
  background-color: #121212;
  padding: 13rem 0 10rem;
}
.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  text-align: center;
}
.footer__text {
  color: rgba(255, 255, 255, 0.5);
  max-width: 38rem;
}
.footer__menu {
  display: flex;
  gap: 7rem;
}
.footer__menu-link {
  color: #FFFFFF;
  font-size: 1.5rem;
  letter-spacing: -0.02em;
  border-bottom: 1px solid transparent;
  transition: border-color 0.4s ease;
  padding-bottom: 5px;
}
.footer__menu-link:hover {
  border-color: #FF7352;
}

.social {
  display: flex;
  gap: 4rem;
}
.social__link {
  display: block;
  width: 24px;
  height: 24px;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: #FFFFFF;
  transition: 0.3s ease;
}
.social__link:hover {
  transform: scale(1.3);
  background-color: #FF7352;
}

.search-form__inner {
  max-width: 57rem;
  margin: 0 auto;
  background-color: #FFFFFF;
  border-radius: 1.6rem;
  display: flex;
  padding: 6px;
}
.search-form__label {
  display: none;
}
.search-form__input {
  padding: 2.6rem;
  width: 100%;
}
.btn {
  display: inline-block;
  background-color: #FF7352;
  border-radius: 1.2rem;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  padding: 2rem 4.5rem;
  cursor: pointer;
}

.btn--hover {
  transition: 0.3s ease;
}
.btn--hover:hover {
  background-color: #c2563e;
}

.arrow__link {
  display: block;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  background-color: #FF7352;
  position: relative;
  margin: 0 auto;
  background-image: url("./../../images/icons/icon_arrow_down_short.svg");
  background-repeat: no-repeat;
  background-size: 2.4rem;
  background-position: center;
  transition: 0.3s ease;
}
.arrow__link:hover {
  transform: scale(1.2);
}
.arrow__link::before {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  left: -8px;
  width: 8rem;
  height: 8rem;
  background-image: url("./../../images/arc_orange.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}
.arrow__link--green {
  background-color: #27AD55;
}
.arrow__link--green::before {
  background-image: url("./../../images/arc_green.svg");
}

.product-card {
  position: relative;
  background-color: #FFFFFF;
  border-radius: 2.4rem;
  padding: 24rem 5rem 4rem;
  transition: all 0.3s ease;
}
.product-card:hover {
  background-color: #121212;
}
.product-card:hover .product-card__content {
  transform: translateY(-7rem);
}
.product-card:hover .product-card__img {
  width: 27rem;
  height: 27rem;
  bottom: 15rem;
}
@media (max-width: 400px) {
  .product-card:hover .product-card__img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
.product-card:hover .product-card__name {
  color: #FFFFFF;
}
.product-card:hover .product-card__order {
  opacity: 1;
}
.product-card::before {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% - 8rem);
  bottom: 0;
  z-index: -1;
  height: 6rem;
  background-color: rgba(18, 18, 18, 0.32);
  border-radius: 2.4rem;
  filter: blur(6rem);
}
.product-card__content {
  text-align: center;
  font-weight: bold;
}
.product-card__img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 19rem;
  margin: 0 auto;
}
.product-card__name {
  font-size: 2.4rem;
  max-width: 23rem;
  margin: 0 auto 2rem;
}
.product-card__price {
  font-size: 2rem;
  color: #27AD55;
}
.product-card__order {
  position: absolute;
  background-color: #FF7352;
  color: #FFFFFF;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2.8rem 4.4rem;
  border-radius: 0 0 2.4rem 2.4rem;
  background-image: url("./../../images//icons/icon_arrow_right_short.svg");
  background-repeat: no-repeat;
  background-size: 1.8rem;
  background-position: center right 4.4rem;
  opacity: 0;
}

.form__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 3rem;
}
@media (max-width: 550px) {
  .form__inner {
    grid-template-columns: repeat(1, 1fr);
  }
}
.form__input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1.2rem;
  padding: 1.7rem 5rem 1.7rem 6rem;
  background-image: url("./../../images/icons/icon_calendar.svg");
  background-repeat: no-repeat;
  background-position: left 2rem center;
  background-size: 2.4rem;
}
.form__input--date {
  background-image: url("./../../images/icons/icon_calendar.svg"), url("./../../images/icons/icon_chevron_down.svg");
  background-position: left 2rem center, right 2rem center;
}
.form__input--person {
  background-image: url("./../../images/icons/icon_person.svg");
}
.form__input--email {
  background-image: url("./../../images/icons/icon_email.svg");
}
.form__input--phone {
  background-image: url("./../../images/icons/icon_phone.svg");
}
.form__input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.form__button {
  display: block;
  margin: 0 auto;
}

.reviews-card {
  max-width: 52rem;
  box-sizing: border-box;
  padding-right: 5rem;
}
.reviews-card__title {
  font-weight: 700;
  font-size: 3.2rem;
  max-width: 37rem;
  margin-bottom: 4rem;
}
@media (max-width: 800px) {
  .reviews-card__title {
    text-align: center;
  }
}
.reviews-card__text {
  line-height: 1.9;
  color: rgba(18, 18, 18, 0.7);
  margin-bottom: 3rem;
}
@media (max-width: 800px) {
  .reviews-card__text {
    text-align: center;
  }
}
.reviews-card__info {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.reviews-card__photo {
  width: 7rem;
  height: 7rem;
  object-fit: contain;
}
.reviews-card__author {
  font-weight: 700;
  line-height: 1.9rem;
}
.reviews-card__stars {
  width: 8.7rem;
  height: 1.5rem;
  background-image: url("./../../images//icons/icon_star.svg");
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: space;
}
@media (max-width: 800px) {
  .reviews-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */