.about {
    margin-bottom: 15rem;
    &__inner {
       display: flex;
       gap: 10rem;

       @media (max-width: 1080px){
          flex-direction: column;
          align-items: center;
          row-gap: 15rem;
       }
    }
    &__content {
        position: relative;
        width: 44rem;
        transform: translateX(-50px);
        opacity: 0;
        transition: .3s ease .3s;

        &.active{
            transform: translateX(0);
            opacity: 1;
        }
    }
    .about__title{
        margin-bottom: 3rem;
        span{
          display: block;
          font-size: 20px;
          font-weight: 700;
          color: $c-green;
          margin-bottom: 2rem;
          -webkit-text-stroke: 0;
        }

        @media (max-width: 1080px){
            text-align: center;
            margin-top: -5rem;
         }
         @media (max-width: 450px){
            width: 350px;
            margin: 0 auto;
            font-size: 3rem;
            margin-bottom: 3rem;
            margin-top: -7rem;
        }
    }
    &__text {
        color: rgba($c-black, 0.5);
        font-size: 16px;
        margin-bottom: 4.4rem;

        @media (max-width: 1080px){
            text-align: center;
         }
         @media (max-width: 450px){
            width: 300px;
            margin:  0 auto;
            margin-bottom: 5rem;
        }
    }
    &__link {
       position: absolute;
       left: 50%;
       transform: translateX(-50%);
    }
    &__images {
        position: relative;
        border-radius: 50%;
        width: 54rem;
        height: 54rem;
        // background-image: url("./../../images/table.webp"),;
        // background-repeat: no-repeat;
        // background-size: contain;
        // background-position: center;
        transform: translateX(50px);
        opacity: 0;
        transition: .5s ease .3s;

        &.active{
            transform: translateX(0);
            opacity: 1;
        }
        &::before{
            content: "";
            position: absolute;
            background-color: $c-green;
            width: 56rem;
            height: 56rem;
            z-index: -1;
            border-radius: 50%;
            top: -10px;
            left: -3px;
            
            @media (max-width: 600px){
                display: none;
            }
        }
    }
    &__image{
        @media (max-width: 600px){
            display: none;
        }
     }
    &__breakfast {
        position: absolute;
        top: 0;
        left: 0;
        width: 19rem;
        height: 19rem;
        transform: translateY(-3rem);

        @media (max-width: 600px){
            right: 0;
            left: 0;
            margin: 0 auto;
            width: 50rem;
            height: 50rem;
        }
        @media (max-width: 480px){
            width: 35rem;
            height: 35rem;
        }
        @media (max-width: 340px){
            width: 30rem;
            height: 30rem;
        }
    }
    &__img {
        width: 100%;
        object-fit: contain;

        @media (max-width: 600px){
            width: 50rem;
            height: 50rem;
        }
        @media (max-width: 480px){
            width: 35rem;
            height: 35rem;
        }
        @media (max-width: 340px){
            width: 30rem;
            height: 30rem;
        }
    }
    &__price {
        position: absolute;
        bottom: 2.5rem;
        right: 0;
        background-color: $c-green;
        border-radius: 100px;
        color: $c-white;
        font-size: 16px;
        font-weight: 700;
        font-family: $font_title;
        padding: 7px 13px;

        @media (max-width: 600px){
            bottom: 40rem;
            left: 5rem;
            width: 7rem;
        }
        @media (max-width: 480px){
            bottom: 30rem;
        }
        @media (max-width: 340px){
            bottom: 25rem;
        }
    }
}
