.hero {
    position: relative;
    height: 120rem;
    padding-top: 14rem;
    background-image: url("./../../images/hero_ellipse.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom 11rem;
    margin-bottom: 8rem;

    @media (max-width: 1120px){
        margin-bottom: 3rem;
     }
     @media (max-width: 600px){
        margin-bottom: -3rem;
     }


    &::before,
    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        display: block;
        width: 53rem;
        height: 50rem;
        background-image: 
        url("./../../images/big_burger.webp"),
        url("./../../images/white_ellipse.svg");
        background-repeat: no-repeat;
        background-position: right bottom, left top;
        background-size: 48rem 37rem, 46rem 46rem;
    }
    &::before{
        left: 3rem;
         
        @media (max-width: 1220px){
           bottom: 15rem;
           left: 0;
           right: 0;
           margin: 0 auto;
        }
        @media (max-width: 560px){
            background-position: center, right;
            bottom: 13rem;
            background-size: 40rem 32rem, 0rem 0rem;
            width: 100%;
         }
         @media (max-width: 371px){
            bottom: 10rem;
         }
         @media (max-width: 331px){
            bottom: 5rem;
         }
    }
    &::after{
        right: 3rem;
        transform: scaleX(-1);
        
        @media (max-width: 1220px){
            display: none;
        }
    }
    .hero__arrow{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 8rem;
    }
    &__inner{
        height: 100%;
        display: grid;
        // place-items: center;
        align-items: center;
    }
    &__content{
        transform: translateY(-50%);

        @media (max-width: 1220px){
            transform: translateY(-80%);
        }
        @media (max-width: 530px){
            transform: translateY(-70%);
         }
         @media (max-width: 370px){
            transform: translateY(-55%);
         }
         @media (max-width: 330px){
            transform: translateY(-40%);
         }
    }
    &__title {
        color: $c-white;
        text-stroke: 2px $c-white;
        -webkit-text-stroke: 2px $c-white;
        max-width: 80rem;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 3rem;
        transform: translateY(50px);
        opacity: 0;
        transition: .3s ease;
        &::before,
        &::after{
            margin-top: -6rem;

            @media (max-width: 830px){
                display: none;
            }
        }
        &.active{
            transform: translateY(0);
            opacity: 1;
        }
    }
    &__description {
        color: rgba($c-white, 0.5);
        font-size: 1.8rem;
        text-align: center;
        max-width: 48rem;
        margin: 0 auto;
        margin-bottom: 10rem;
        transform: translateY(50px);
        opacity: 0;
        transition: .3s ease .5s;

        @media (max-width: 1220px){
            margin-bottom: 5rem;
        }

        &.active{
            transform: translateY(0);
            opacity: 1;
        }
    }
    &__form {
        transform: translateY(50px);
        opacity: 0;
        transition: .3s ease .7s;

        &.active{
            transform: translateY(0);
            opacity: 1;
        }
    }
}






