.popular {
    margin-bottom: 12rem;
    &__title {
        margin-bottom: 1.5rem;
        transform: translateY(50px);
        opacity: 0;
        transition: transform .5s ease;

        @media (max-width: 790px){
            text-align: center;
            &::before,
            &::after{
                display: none;
            }
        }

        &.active{
            transform: translateY(0);
            opacity: 1;
        }
    }
    &__description {
        max-width: 52rem;
        margin:  0 auto;
        font-size: 1.8rem;
        color: rgba($c-black, 0.5);
        text-align: center;
        margin-bottom: 19rem;
        transform: translateY(70px);
        opacity: 0;
        transition: transform .5s ease;

        @media (max-width: 790px){
            margin-bottom: 5rem;
        }

        &.active{
            transform: translateY(0);
            opacity: 1;
        }
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 9rem;
        gap: 3.5rem;
        align-items: end;

        @media (max-width: 1120px){
            grid-template-columns: repeat(2, 1fr);
        }
        
        @media (max-width: 790px){
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &__item {
    }
    &--item-1{
        transform: translateY(50px);
        opacity: 0;
        transition: transform .5s ease;

        &.active{
            transform: translateY(0);
            opacity: 1;
        }
    }
    &--item-2{
        transform: translateY(150px);
        opacity: 0;
        transition: transform .5s ease;

        &.active{
            transform: translateY(0);
            opacity: 1;
        }
    }
    &--item-3{
        transform: translateY(200px);
        opacity: 0;
        transition: transform .5s ease;

        &.active{
            transform: translateY(0);
            opacity: 1;
        }
    }
    &__arrow {
    }
}



