.reviews {
    margin-bottom: 11rem;
    &__head {
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding-right: 5rem;
       margin-bottom: 6rem;

       @media (max-width: 800px){
        padding-right: 0;
       }   
    }
    &__title {
        max-width: 57rem;

        @media (max-width: 800px){
            font-size: 4rem;
            text-align: center;
            margin: 0 auto -2rem;
        }
    }
    &__nav {
        display: flex;

        @media (max-width: 800px){
            display: none;
        }
        
    }
    &__arrow {
        width: 100px;
        height: 40px;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url('./../../images/icons/icon_arrow_right_long.svg');
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &.swiper-button-disabled{
            width: 40px;
            opacity: 0.5;
            background-image: url('./../../images/icons/icon_arrow_left_short.svg');
            cursor: not-allowed;
        }
        &--prev{
            &:not(.swiper-button-disabled){
                transform:  scaleX(-1);
            } 
        }
        &--next{
            &.swiper-button-disabled{
                transform:  scaleX(-1);
            } 
        }
    }
    &__slider {
        @media (max-width: 800px){
           width: 110%;
        }
    }
    &__slider-list {
    }
    &__slider-item {
        display: flex;
        flex-direction: column;
    }

    @media (max-width: 800px){
        margin-top: -6rem;
     }
}

