.arrow__link{
    display: block;
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
    background-color: $c-orange;
    position: relative;
    margin: 0 auto;
    background-image: url('./../../images/icons/icon_arrow_down_short.svg');
    background-repeat: no-repeat;
    background-size: 2.4rem;
    background-position: center;
    transition: .3s ease;

    &:hover{
       transform: scale(1.2);
    }

    &::before{
        content: "";
        display: block;
        position: absolute;
        top: -8px;
        left: -8px;
        width: 8rem;
        height: 8rem;
        background-image: url('./../../images/arc_orange.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top center;
    }
    &--green{
        background-color: $c-green;
        &::before{
          background-image: url("./../../images/arc_green.svg");
        }
    }
}
