.form {
    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin-bottom: 3rem;

        @media (max-width: 550px){
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &__group {
    }
    &__label {
    }
    &__input {
        width: 100%;
        background-color: rgba($c-white, 0.2);
        border-radius: 1.2rem;
        padding: 1.7rem 5rem 1.7rem 6rem;
        background-image: url("./../../images/icons/icon_calendar.svg");
        background-repeat: no-repeat;
        background-position: left 2rem center;
        background-size: 2.4rem;
        &--date{
            background-image: 
            url("./../../images/icons/icon_calendar.svg"),
            url("./../../images/icons/icon_chevron_down.svg");
            background-position: left 2rem center, right 2rem center;
            
        }
        &--person{
            background-image: url("./../../images/icons/icon_person.svg");
        }
        &--email{
            background-image: url("./../../images/icons/icon_email.svg");
        }
        &--phone{
            background-image: url("./../../images/icons/icon_phone.svg");
        }
        &::placeholder{
            color: rgba($c-white, 0.5);
        }
    }
    &__button {
        display: block;
        margin: 0 auto;
    }
}
