.product-card {
    position: relative;
    background-color: $c-white;
    border-radius: 2.4rem;
    padding: 24rem 5rem 4rem;
    transition:  all .3s ease;
    &:hover{
        background-color: $c-black;
        .product-card__content{
            transform: translateY(-7rem);
        }
        .product-card__img{
            width: 27rem;
            height: 27rem;
            bottom: 15rem;

            @media (max-width: 400px){
               position: absolute;
               left: 50%;
               transform: translateX(-50%);
            }
        }
        .product-card__name{
            color: $c-white;
        }  
        .product-card__price{
            
        }
        .product-card__order{
            opacity: 1;
        }
    }

    &::before{
       @include psewdo;
       width: calc(100% - 8rem);
       bottom: 0;
       z-index: -1;
       height: 6rem;
       background-color: rgba($c-black,  0.32);
       border-radius: 2.4rem;
       filter: blur(6rem);
    }
   
    &__content {
        text-align: center;
        font-weight: bold;
    }
    &__img {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 19rem;
        margin: 0 auto;
    }
    &__name {
        font-size: 2.4rem;
        max-width: 23rem;
        margin: 0 auto 2rem;
    }
    &__price {
        font-size: 2rem;
        color: $c-green;
    }
    &__order {
        position: absolute;
        background-color: $c-orange;
        color: $c-white;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 2.8rem  4.4rem;
        border-radius: 0 0 2.4rem 2.4rem;
        background-image: url("./../../images//icons/icon_arrow_right_short.svg");
        background-repeat: no-repeat;
        background-size: 1.8rem;
        background-position: center right 4.4rem;
        opacity: 0;
    }
}