.header {
    position: absolute;
    top: 0;
    left: 0;;
    right: 0;
    z-index: 10;
    padding: 4.1rem 0;
    background-color: $c-black;

    &--btn{
        transition: .3s ease;
        &:hover{
           background-color: $c-orange;
        }
     }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__btn {
        font-size: 1.4rem;
        color: $c-white;
        padding: 0.8rem  3rem;
        background-color: rgba($c-white, 0.2);
        border-radius: 0.8rem;
        cursor: pointer;
    }
}
.logo {
    &__img {
    }
}
.menu {
    display: flex;
    gap:  6.9rem;
    &__item {
    }
    &__link {
        color: rgba($c-white, 0.5);
        border-bottom: 1px solid transparent;
        transition: border-color .6s ease;
        padding-bottom: 5px;
        &:hover {
           border-color: $c-orange;
           color: $c-white;
        }
    }
}







