.header {
    position: absolute;
    top: 0;
    left: 0;;
    right: 0;
    z-index: 10;
    padding: 4.1rem 0;
    background-color: $c-black;

    &--btn{
        transition: .3s ease;
        &:hover{
           background-color: $c-orange;
        }
     }
     @media (max-width: 765px){
        padding: 2rem 0;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__btn {
        font-size: 1.4rem;
        color: $c-white;
        padding: 0.8rem  3rem;
        background-color: rgba($c-white, 0.2);
        border-radius: 0.8rem;
        cursor: pointer;
         @media (max-width: 765px){
           display: none;
        }
    }
}
.logo {
    &__img {
    }
}
.menu {
    display: flex;
    gap:  6.9rem;
    &__item {
    }
    &__link {
        color: rgba($c-white, 0.5);
        border-bottom: 1px solid transparent;
        transition: border-color .6s ease;
        padding-bottom: 5px;
        &:hover {
           border-color: $c-orange;
           color: $c-white;
        }
    }
    @media (max-width: 765px){
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        bottom: 0;
        right: 0;
        background-color: $c-black;
        // overflow-y: auto;
        flex-direction: column;
        align-items: center;
        padding-top: 150px;
        row-gap: 4rem;
        font-size: 3rem;
        transition: .3s ease;
    }
    &.active-menu{
        left: 0;
    }
}

.header__burger {
    display: none;
    width: 50px;
    height: 22px;
    padding-top: 10px;
    position: relative;
    z-index: 3;
    cursor: pointer;
    @media (max-width: 765px){
        display: flex;
        position: absolute;
        right: 2rem;
        top: 3rem;
    }
}
.header__burger span {
    background-color: $c-white;
    width: 70%;
    height: 2px;
    transform: scale(1);
}

.header__burger::before,
.header__burger::after {
    content: "";
    background-color: $c-white;
    width: 70%;
    height: 2px;
    position: absolute;
    transition: all .3s ease;
}

.header__burger::before {
    top: 0;
}

.header__burger::after {
    bottom: 0;
}

.active.header__burger span {
    transform: scale(0);
}

.active.header__burger::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.active.header__burger::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}






